<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <div>
    <h1>Book List</h1>
    <ul>
      <li><a href="/book/add">Add Book</a></li>
    </ul>
  </div>

  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Released Year</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
      <% data.forEach(el => { %>
      <tr>
        <td><%= el.createdBy() %></td>
        <td><%= el.released_year %></td>
        <td><%= el.price %></td>
        <td><%= el.stock %></td>
        <td><a href="/book/edit/<%= el.id %>">Edit</a> | <a href="/book/delete/<%= el.id %>">Delete</a></td>
      </tr>
      <% }) %>
    </table>
    <button><a href="/book/checkout">Checkout</a></button>
  </body>

</html>