<%- include('./partials/header', {title: 'Books Home'}) %>


<%- include('./partials/navbar') %>


<div class="container">
  <div>
    <h1>Welcome, </h1>
  </div>
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Released Year</th>
      <th>Action</th>
    </tr>
    <% data.forEach(el => { %>
    <tr>
      <td><%= el.title %></td>
      <td><%= el.author %></td>
      <td><%= el.released_year %></td>
      <td><a href="/book/edit/<%= el.id %>">Edit</a> || <a href="/book/delete/<%= el.id %>">Delete</a></td>
    </tr>
    <% }) %>
  </table>
  <button><a href="/checkout">Checkout</a></button>
</div>
<%- include('./partials/footer') %>