<%- include('./partials/header', {title: 'Books Home'}) %>

<%- include('./partials/navbar') %>

<div class="container">
  <div>
    <h1>Welcome</h1>
  </div>
  <table border>
    <tr>
      <th>Title</th>
      <th>Released Year</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Action</th>
    </tr>
    <% data.forEach(el => { %>
    <tr>
      <td><%= el.createdBy() %></td>
      <td><%= el.released_year %></td>
      <td><%= el.price %></td>
      <td><%= el.stock %></td>
      <td><a href="/book/edit/<%= el.id %>">Edit</a> | <a href="/book/delete/<%= el.id %>">Delete</a></td>
    </tr>
    <% }) %>
  </table>
  <button><a href="/book/checkout">Checkout</a></button>
</div>
<%- include('./partials/footer') %>