<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Released Year</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
      <% data.forEach(el => { %>
      <tr>
        <td><%= el.title %></td>
        <td><%= el.author %></td>
        <td><%= el.released_year %></td>
        <td><%= el.price %></td>
        <td><%= el.stock %></td>
        <td><a href="/book/checkout/cart/<%=el.id%>">Add to Cart</a></td>
      </tr>
      <% }) %>
    </table>
    <button><a href="/book/checkout/buy">Buy</a></button>
  </body>

</html>