<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <div>
    <h1>Add Book</h1>
  </div>

  <body>
    <% data.forEach(el => { %>
    <form action="/book/edit/<%= el.id %>" method="post">
      <table>
        <tr>
          <label>Book's Title</label>
          <input type="text" name="title" id="" placeholder="e.g Dangdut Milenium" value="<%= el.title %>">
        </tr>
        <tr>
          <label>Book's Author</label>
          <input type="text" name="author" id="" placeholder="e.g Maemunah Jamrun" value="<%= el.author %>">
        </tr>
        <tr>
          <label>Book's Released Year</label>
          <input type="text" name="released_year" id="" placeholder="e.g 2012" value="<%= el.released_year %>">
        </tr>
        <tr>
          <label>Book's Price</label>
          <input type="text" name="price" id="" value="<%= el.price %>">
        </tr>
        <tr>
          <label>Book's Stock</label>
          <input type="number" name="stock" id="" value="<%= el.stock %>">
        </tr>
        <tr>
          <input type="submit" value="Save Book">
          <button><a href="/book"></a></button>
        </tr>
      </table>
    </form>
    <% }) %>
  </body>

</html>