<%- include('./partials/header', {title: 'Books Home'}) %>

<%- include('./partials/navbar') %>

<% data.forEach(el => { %>

<div class="container">
  <form action="/book/edit/<%= el.id %>" method="post">
    <label>Book's Title</label>
    <input type="text" name="title" id="" placeholder="e.g Dangdut Milenium" value="<%= el.title %>">
    <br><br>
    <label>Book's Author</label>
    <input type="text" name="author" id="" placeholder="e.g Maemunah Jamrun" value="<%= el.author %>">
    <br><br>
    <label>Book's Released Year</label>
    <input type="text" name="released_year" id="" placeholder="e.g 2012" value="<%= el.released_year %>">
    <br><br>
    <label>Book's Price</label>
    <input type="text" name="price" id="" value="<%= el.price %>">
    <br><br>
    <label>Book's Stock</label>
    <input type="number" name="stock" id="" value="<%= el.stock %>">
    <br><br>
    <input type="submit" value="Save Book">
    <a href="/book"></a></button>
</div>

</form>
<% }) %>


<%- include('./partials/footer') %>